<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.temixxdk"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_schaeffler"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_schaeffler_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SendActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ReadActivity"/>
        <activity android:name=".MeasureActivity"/>
        <activity android:name=".ConnectActivity"/>
    </application>

</manifest>